<style>
.container {
    max-width: 100% !important;
}
.body-color-wrapper ul {
padding-left : 0px !important;
}
.switch-field-each-input p {
margin-bottom : 0rem !important;
}
.ext-heading-wrapper h4 {
margin-bottom : 0px !important;
line-height : 27px !important;
}
.radio-switch ::after, ::before {
box-sizing : unset;
}
</style>
<script type="module" crossorigin src="/content/dam/busSimulator/bus/assets/index-4c3LbeN2.js"></script>
    <link rel="stylesheet" crossorigin href="/content/dam/busSimulator/bus/assets/index-iWhxEmAB.css">
	<div id="root"></div>
