<div class="inner-content" style="background:rgba(24,30,34,1)">
   <div class="bwdv844 mgz-element mgz-element-column mgz-col-md-12">
      <div class="mgz-element-inner bwdv844-s">
         <div class="wqlc8bh mgz-element mgz-child mgz-element-raw_html">
            <div class="mgz-element-inner wqlc8bh-s">
               <div class="offer-message-block-outer description">
                  <div class="offer-message-block-inner" style="text-align:center;">
                     <p style="color:white;">${properties.headerLabel}<b>  <a href="${properties.linkUrl}">${properties.linkLabel}</a></b></p>
                     <img class="header_top_navigation_close" src="https://cdn.olaelectric.com/ev-discovery-platform/New-Homepage/top_navigation_close.svg">
                  </div>
                  <div class="offer-message-animation"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



